<link rel="stylesheet" href="/css/style.css">

<div class="nav">
 <div class="nav-header">
  <div class="nav-left">
      <a href="/" class="nav-link">Home</a>
</div>
<div class="nav-center"></div>
    <div class="nav-right">
        <p class="nav-link" id="shopLink">Shop</p>
        <% if(isAdmin) { %>
            <a href="/photos/upload" class="nav-link" id="upload">Upload</a>
        <% } %>
        <% if(userId) { %> 
            <a href="/users/artcart/<%=userId %>" class="nav-link" id="artCart">Art Cart</a>
        <% } %>
        <% if(username) { %> 
            Hello <%= username %>
        <% } else {  %> 
            <a href="/users/login" class="nav-link">Login/Register</a>
        <% } %>
        <% if(isLogged) { %>
            <a href="/users/logout">Log Out</a>
        <% } %>   
        
    <div class="hamburger-menu">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
  </div>
 </div>
 <div class="overlay">
     <div class="overlay-content">
         <a href="/" class="overlay-link">Home</a>
         <a href="/users/artcart/<%=userId %>" class="overlay-link">Art Cart</a>
         <a href="/users/login" class="overlay-link">Login/Register</a>
     </div>
 </div>
</div>
<script>
    const hamburgerMenu = document.querySelector('.hamburger-menu')
    const shopLink = document.querySelector('#shopLink');
    const overlay = document.querySelector('.overlay')
    hamburgerMenu.addEventListener('click', (e) => {
        e.currentTarget.classList.toggle('open')
        overlay.classList.toggle('show')
    })

    shopLink.addEventListener('click', function() {
        window.scrollTo({
        top: 575, 
        bottom: 0,
        behavior: 'smooth',
        })
    });
</script>
  































  <!-- const foundBartender = await Bartender.findById(req.session.userId || "5db865585a923c0d6fe4b50a") -->