<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <%- include('../partials/navbar.ejs', {
            isLogged: isLogged
        }) %>
        <h1>Art Cart!</h1>
        <%= foundUser.artCart[0].price %>
        <form action="/users/artcart" method="POST"></form>
</body>
</html>