<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <%- include('../partials/navbar.ejs', {
            isLogged: isLogged,
            isAdmin: isAdmin
           }) %>
    <h4>Register</h4>
    <div class="register-form">
    <form action="/users/register" method="POST">
        <input type="text" name="username" placeholder="username"><br><br>
        <input type="email" name="email" placeholder="email"><br><br>
        <input type="password" name="password" placeholder="password"><br><br>
        <button type="submit">Register</button>
    </div>
    </form>
</body>
</html>